*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    padding: 1rem 1rem;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
h2 {
    font-size: 1.7rem;
    padding: 1rem 1rem;
}
#gameScore {
    font-size: 1.2rem;
    margin-top: 7rem;
}
#gameStatus {
    
}
#clearButton {
    font-size: 2rem;
    margin-top: 2rem;
    padding: 0 1rem;
}
img {
    width: 7rem;
}
.choices>div {
    display: inline-block;
    margin: 0 1rem;
    transition: all 0.4s ease-in-out;
}
.choices>div:hover {
    transform: scale(115%);
    cursor: pointer;
}

@media screen and (max-width:440px) {
    img {
        width: 5.5rem;
    }
    html {
        font-size: 14px;
    }
}